
html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #6c6f79;
}

h1,h2,h3,h4,h5 {
	color: #333;
}

h6 {
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

img {
	max-width: 100%;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}

.blockquote-footer{
	margin: 1rem 0 0;
}

#stage {
	background: url('img/doctor.jpg') center center no-repeat;
	background-size: cover;
	color: black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#stage-caption {
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
}

#stage-caption h1 {
	color: black;
}

.feature-content {
	padding: 4rem 0;
	overflow: hidden;
}

.feature-dark {
	background: #DADADA;
}

.feature-dark h2 {
	color:#CB0000
}

#main-footer{
	padding: 2rem 0;
	font-size: 0.85rem;
	color: black;
}

.card img{
	padding: 2rem; 
}
 
.btn-group{
	display: flex;
	justify-content: center; 
}

.jumbotron{
	margin-bottom:0;
}

.btn-group .btn{
	display: flex;
	justify-content: center;
	background:#505050;
}

#checkgit{
	display: flex;
	justify-content: center;
	align-items: center; 
	max-width:280px;
}
 
 
@media screen and ( min-width: 991px ) {

	.feature-content {
		display: flex;
		align-items: center;
	}
	
	.card{
		display: flex;
	}
	
	.btn-group{
		align-items: center;
	}
}



